<h2>Friends</h2>
<% if @friends.any?  %>
<%= will_paginate @friends %>
<% @friends.each do |friend| %>
   <p> <%= gravatar_for friend %></p>
   <p> <%= link_to "#{friend.full_name}", friend %></p>
<% end %>
 <% else %>
 <p>No friends available </p>
 <% end %> 
 