@import "bootstrap-sprockets";
@import "bootstrap";

$facebook-blue: #3B5998;
$facebook-blue-dark:  #3C5A99;

nav{
    background-color: $facebook-blue-dark;
    color: #fff;
    
    .light-color{
        color: #fff; 
    }
}

.left-landing{

    img{
        width:100%;
    }

    h2{
        font-weight: 700;
        color: $facebook-blue;
    }
}

.right-landing{
    h2{
        font-weight: 700;
        
    }
}

#logo{
        font-size: 3rem;
        font-weight: bold;
        line-height: 61px;
}
.header-partion{
    
}