@import "bootstrap-sprockets";
@import "bootstrap";

$facebook-blue: #3B5998;
$facebook-blue-dark:  #3C5A99;

nav{
    background-color: $facebook-blue-dark;
    color: #fff;
    
    .light-color{
        color: #fff; 
    }
}