<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>

    <%= render 'layouts/shim' %>
  </head>

  <body>
  <%= render './layouts/header' %>
  <div class="container">
  <% flash.each do |message_type, message| %>
     <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
   <% end %>
   
    <%= yield %>
  </div>
  </body>
</html>
